img {
    position: absolute;
    margin-bottom: -500px;
    
}
img {
    position: relative;
    margin-top: 400px;
}

body {
    text-align: center;
    font-family: "Helvetica";
    background-color:"black";
}

