
img {
    position: static;
    margin-top: 200;
}

body {
    text-align: center;
    font-family: "Helvetica";
    background-color: white;
    
}

h1 {
    position: absolute;
    margin-top: -180px;
    left: 1;
    width: 100%;
    font-family: 20px;
    
}

p {
    position: absolute;
    top: 18;
    left: 0;
    width: 100%;
}

#third {
    position: absolute;
    top: 70;
    left: 0;
    width: 100%;
}

#itunes { 
    position: absolute;
    top: 4;
    left: 46vw;
}

#spotify {
    position: absolute;
    top: 4;
    left: 58vw;
}

#soundcloud {
    position: absolute;
    top: 4;
    left: 38vw;
}

#strawberry {
   position: static;
    margin-top: 260;
}

