
img {
    position: static;
    margin-top: 200;
}

body {
    text-align: center;
    font-family: "Helvetica";
    background-color: white;
    
}

h1 {
    position: absolute;
    margin-top: -180px;
    left:0;
    width: 100%;
    font-family: 20px;
    
}

#first {
    position:absolute;
    top: -30px;
    left: -100;
    width:100%;
}


#second {
    position: absolute;
    top: 20;
    left: 0;
    width: 100%;
}

#third {
    position: absolute;
    top: 70;
    left: 100;
    width: 100%;
}

#itunes { 
    position: absolute;
    top: 4;
    left: 47vw;
}

#spotify {
    position: absolute;
    top: 4;
    left: 57vw;
}

#soundcloud {
    position: absolute;
    top: 4;
    left: 37vw;
}

#strawberry {
   position: static;
    margin-top: 260;
}

